.logo {
    position: fixed;
    top: 0;
    width: 99%;
    color: #04f724;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 0px;
}






.center {
    display: flex;
    width: 213px;
    list-style: none;
    gap: 35px;
    color: black;
}

.center li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}

#light {
    opacity: 0.4;
}


.right {
    display: flex;
    align-items: center;
    gap: 20px
}

.right li {
    display: flex;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}

.right .worldIcon {
    color: rgb(228, 27, 27);

}

.selections {
    margin: 0px 20px 0px 0px;
    box-shadow: 0px 0px 12px #cfb1b1;
    color: #18afc7;
    display: flex;
    padding: 6px 12px;
    gap: 24px;
    align-items: center;
    border-radius: 26px;
}

.filters {
    box-shadow: 0px 0px 12px #cbb8b8;
    width: 64%;
    display: flex;
    border-radius: 40px;
    align-items: center;
    gap: 110px;
    margin: 100px 0px 0px 491px;
    padding: 0px 18px
}

.filters p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.searchlogo {
    box-shadow: 0px 0px 12px #cbb8b8;
    background-color: #09e21b;
    color: rgb(236, 243, 239);
    border-radius: 50%;
    padding: 16px 18px;
    margin: 1px 45px;


}




.light-colour {
   color:darkgray
}



.boxcard {
    border-radius: 12px;
    box-shadow: 0px 0px 12px #a19898;
    margin: 116px 61px;

    height: 464px;
    width: 325px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;





}

.boxcard img {
    text-align: center;
    border-radius: 12px;
    height: 333px;
    width: 325px;


}



#new {
    margin: 12px 12px;
}